<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--  nameSpace必须指向Dao接口 -->
<mapper namespace="com.wx.mapper.SysRoleMapper">

<!-- 根据角色名称查询role_key -->
<select id="findRoleKey" resultType="String">
select role_key from sys_role where role_value = #{role_value};
</select>

</mapper>